img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.cat{
    border: 5px solid green;
}

.horse{
    border: 5px solid yellow;
    align-self: flex-end;
    order: 1;
}

.camel{
    border: 5px solid red;
}

.animals{
    display: flex;
    align-items: flex-start;
}